<div class="search-frm"><form action="/search" method="GET"><input type="text" name="search" placeholder="Search Website" required="required" value="{{ old:search }}"/><button class="btn" id="search_btn">Search</button></form></div>