.page-mid
  .inner-wrap
    .introarea
      .row
        .col.centeritem.general
          div
            h1.green.titlefont {{ title }}
            p {{ content }}
      
        .col
          .aboutimage
            .big(style='background-image: url({{ about_image_big }});')
            .small(style='background-image: url({{ about_image_small }});')

  section.grey
    .inner-wrap
      .titlearea
        .row
          .col.general
            div
              h2.blue.titlefont {{ facilities_title }}
              p {{ facilities_content }}
      .serviceslist
        .row
          | {{ facilities }}
          .col
            .imgwrap
              | {{ if facilities_image}}
              img(src="{{ facilities_image }}", alt="{{ facilities_title }}")
              | {{ else }}
              img(src="/assets/img/placeholder.png", alt="{{ facilities_title }}")
              | {{ /if}}
            .textwrap
              h2.blue.titlefont {{ facilities_title }}
              p {{ facilities_text }}
          | {{ /facilities }}

  section
      .inner-wrap
        .titlearea
          .row
            .col.general
              div
                h2.orange.titlefont {{ testimonial_title }}
        .testimoniallist
          .row
            | {{ testimonials }}
            .col
              img.stars(src="/assets/img/fivestars.png", alt="{{ title }}")
              p.blue.titlefont "{{ testimonial_text }}"
              p.bold - {{ testimonial_name }}
            | {{ /testimonials }}