.page-mid
  .inner-wrap
    .contactpage
      .row
        .col.general
          h1 {{ title }}
          p {{ content }}
          | {{ partial:enquiryfrm }}
      
        .col.contactinfo
          .contactdetails
            .icon
              img(src="/assets/img/phone.svg")
            .textinfo
              p Call us on
              h3 {{ phone_number }}
          .contactdetails
            .icon
              img(src="/assets/img/email.svg")
            .textinfo
              p Email us at
              h3 {{ email_address }}
          .contactdetails
            .icon
              img(src="/assets/img/map.svg") 
            .textinfo
              p Address
              h3 {{ address }} 
              a(href='https://www.google.com/maps/place/Gortalowry+House,+94+Church+St,+Cookstown+BT80+8HX/@54.6357958,-6.7456269,17z/data=!3m1!4b1!4m5!3m4!1s0x4860605155e43b8d:0x3e02253309069540!8m2!3d54.6357958!4d-6.7434382' target='_blank') Get Directions

