.page-mid
  .homebanner
    .inner-wrap
      .row
        .col.centeritem.general
          div
            h1.greytext.titlefont {{ page_title }}
            a.button(href='{{ url }}') Read More
            
        .col
          .heroimg
            .bottom
              img(src="{{ hero-image-bottom }}")
              img(src="/assets/hero_border.png")
            .top(style='background-image: url({{ hero-image-bottom }});')
            
            img(src="/assets/award.svg").award 

  section.grey
    .inner-wrap
      .serviceslisthome
        | {{ get_content from="/our-services" }}
        .row
          .col.servicestitle
              h2.blue.titlefont {{ services-title }}
              p {{ services-content }}
              a.button(href='{{ url }}') Read More
          | {{ services_list }}
          .col
            | {{ if services_image }}
            .imgwrap
              img(src='{{ services_image width="290" height="200" fit="crop_focal"}}')
            | {{ else }}
            .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
              img(src="/assets/img/placeholder.png", alt="{{ services_title }}")
            | {{ /if}}
            .textwrap
              h2 {{ services_title }}
          | {{ /services_list }}
        | {{ /get_content }}

  .inner-wrap
    .titlearea
      .row
        .col
          div
            h2.pink.titlefont {{ news-title }}
            p {{ services_content }}
      .news-items
        .row
          | {{ collection:news as="posts" limit="3" }}
          | {{ posts }}
          .col
            | {{ if news_image}}
            .imgwrap(style='background-image:url({{ news_image }})')
              img(src="{{ news_image }}", alt="{{ title }}")
            | {{ else }}
            .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
              img(src="/assets/img/placeholder.png", alt="{{ title }}")
            | {{ /if}}
            .textwrap
              h2 {{ title }}
              <i class="far fa-calendar-alt"></i> {{ date }}
              .buttonposition
                a.button(href='{{ url }}') Read More
          | {{ /posts }}
          | {{ /collection:news }}


        