.page-mid
  .inner-wrap
    .titlearea
      .row
        .col.general
          div
            h2.orange.titlefont {{ title }}
            p {{ services_content }}
    .serviceslist
      .row
        | {{ services_list }}
        .col
          .imgwrap
            | {{ if services_image}}
            img(src="{{ services_image }}", alt="{{ services_title }}")
            | {{ else }}
            img(src="/assets/img/placeholder.png", alt="{{ services_title }}")
            | {{ /if}}
          .textwrap
            h2.blue.titlefont {{ services_title }}
            p {{ services_content }}
        | {{ /services_list }}
        .col.cta
            h3.white.titlefont Get in touch now
            a.button(href='/contact-us') contact us

            p Call us on #[a(href="tel:02886769808") 028 86769808]
            p Email us at #[a(href="mailto:info@gortkids.com") info@gortkids.com]


      