doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='{{ meta_description }}')
    | {{ if meta_title | length > 2 }}
    title {{ meta_title }}
    | {{ else  }}
    title {{ title }}
    | {{ /if }}
    link(rel='stylesheet', href='https://use.typekit.net/gsa4dqx.css')
    link(rel='stylesheet', href='{{ theme:css src=\'app\')')

  body.segment_1.or(class='section-{{ segment_1 or "home" }}')
    #page-wrap.page-wrap
      #page-wrap-inner.page-inner-wrap
        | {{ partial:header }}

        section.regular
          | {{ template_content }}

        | {{ partial:footer }}

      | {{ partial:mobilemenu }}

    
    #mobile-burger-btn
      i.fa.fa-bars
      i.fa.fa-times
      
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='{{ theme:js src=\'app\'}}')
