



.aboutimage{
  position: relative;
  min-height: 472px;
  .big{
    width: 440px;
    height: 440px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    @media (max-width: 640px) {
      border-radius: 10px;
      position: relative;
      right: 0px;
      top: 0px;
      width: 330px;
      margin: 0 auto;
    }
    img{
      position: relative;
      top: 0;
      left:0;
      border-radius: 50%;
    }
    @media (max-width: 640px) {
      border-radius: 10px;
      border: 0px;
    }
  }
  .small{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
    right: 60px;
    top: 280px;
    border: 15px solid #E57552;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    @media (max-width: 640px) {
      border-radius: 10px;
      right: 0px;
      top: 20px;
      width: 330px;
      margin: 0 auto;

    }
    &.small:before{
      content: " ";
      position: absolute;
      z-index: -1;
      top: -30px;
      left: -30px;
      right: -30px;
      bottom: -30px;
      border: 15px solid #fff;
      border-radius: 50%;
      @media (max-width: 640px) {
        border-radius: 10px;
        border: 0px;
      }
    }
    
    img{
      position: relative;
      top: 0;
      left:0;
    }
    @media (max-width: 640px) {
      border-radius: 10px;
      border: 0px;
    }
  }
  @media (max-width: 640px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}








.testimoniallist{
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width: 1200px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      @media (max-width: 640px) {
        margin-left: 0;
        margin-right: 0;
      }
      .col {
        width: calc(33.333% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        background-color:#fff;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
        border-radius: 10px;
        overflow: hidden;
        padding: 30px;
        text-align: left;
        @media (max-width: 1200px) {
          width: calc(33.333% - 30px);
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 30px;
        }
        @media (max-width: 1000px) {
          width: calc(50% - 30px);
        }
        @media (max-width: 640px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
        
        p {
          font-size: 12px;
          color: #A1A1A3;
          font-weight: $regular;
            &.bold {
              font-weight: $bold;
              color: #909090;
            }
        }
        .stars{
          padding-bottom: 20px;
          width: max-content;
        }
      }
    }
  }

  