
.contactpage{
    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: -30px;
        margin-right: -30px;
        @media all and (max-width:1000px) {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            }
        .col{
            width: calc(50% - 60px);
            margin-left: 30px;
            margin-right: 30px;
            @media all and (max-width:1000px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                &:nth-child(1){
                    order: 2;
                }
                &:nth-child(2){
                    order: 1;
                    margin-bottom: 40px;
                    padding: 30px;
                }
                }
            h1{
                color: $purple;
                font-size: 40px;
            }
            &.contactinfo{
                box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
                border-radius:10px;
                padding: 40px;
                height: fit-content;
                margin-top: 80px;
                .contactdetails{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-bottom: 30px;
                    .icon{
                        margin-right: 30px;
                        min-width: 40px;
                        img{

                        }
                    }
                    .textinfo{
                        h3{
                            color: $teal;
                            font-size: 22px;
                            @media all and (max-width:500px) {
                                font-size: 16px;
                            }
                        }
                        p,a{
                            color: $greytext;
                            font-size: 14px;
                            font-weight: $bold;
                        }
                        a{
                            text-decoration: underline;
                        }
                    }
                    &:nth-child(3){
                        .textinfo{
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}


