.homebanner{
    background-image: url(/assets/img/stars.svg);
    background-repeat: no-repeat;
    background-position: left 0 bottom 40px;
    background-size: 40%;
    @media (max-width: 1540px) {
        background-size: 45%;
    }
    @media (max-width: 800px) {
        background-image: none;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: -30px;
        margin-right: -30px;
        @media all and (max-width:800px) {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        }
        .col {
            width: calc(50% - 60px);
            margin-left: 30px;
            margin-right: 30px;
            
            &:nth-child(1){
              align-items: center;
              justify-content: center;
              display: flex;
            }
            @media all and (max-width:800px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            &:nth-child(1){
                order: 2;
            }
            &:nth-child(2){
                order: 1;
                margin-bottom: 40px;
                padding: 30px;
            }
            }

            &.centeritem{
            justify-content: center;
            align-items: center;
            display: flex;
            }
            @media all and (max-width:635px) {
              &:nth-child(2){
                  order: 1;
                  margin-bottom: 40px;
                  padding: 0;
              }
            }
        }
    }
    h1 {
        width: 92%;
        font-size: 47px;

        @media (max-width: 1192px) {
            width: 100%;
            font-size: 37px;
        }
        @media (max-width: 945px) and (min-width: 800px)  {
            font-size: 32px;
        }
    }
}

.heroimg{
  position: relative;
  min-height: 472px;
  .bottom{
    width: 468px;
    height: 472px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    img{
      position: absolute;
      top: 0;
      left:0;
      &:nth-child(1){
        z-index: 1;
        transform: rotate(-10deg);
        margin-left: 80px;
        width: calc(100% - 80px);
      }
      &:nth-child(2){
        z-index: 2;
        width: 100%;
      }
    }
  }
  .top{
    width: 350px;
    height: 375px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 40px;
    transform: rotate(5deg);
    border: 14px solid #fff;
    background-size: cover;
    background-position: center top;
    @media (max-width: 1105px) and (min-width: 800px)  {
      left: 130px;
    }
  }
  .award {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 4;
    bottom: 0px;
    right: 0px;
    transform: rotate(-10deg);
    overflow: visible;
    @media (max-width: 1105px) and (min-width: 512px)  {
      left: 90%;
    }
  }
  @media (max-width: 800px)   {
    display: none;
  }
}



.serviceslisthome{
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width: 1200px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      @media (max-width: 640px) {
        margin-left: 0;
        margin-right: 0;
      }
      .col {
        width: calc(50% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        overflow: hidden;
        max-height: 180px;
        justify-content: center;
        @media (max-width: 1200px) {
          width: calc(50% - 30px);
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 30px;
        }
        @media (max-width: 800px) {
          width: calc(100% - 30px);
        }
        @media (max-width: 640px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          
        }
        .imgwrap{
            width: 50%;
            background-size: cover;
            background-repeat: none;
            background-position: center;
           
          img{
            width: 100%;
          }
        }
        .textwrap{
            padding: 30px;
            float: left;
            align-items: center;
            display: flex;
            width: 50%;
            text-align: left;
            @media (max-width: 800px) {
              padding: 20px;
            }
            h2{
                font-size: 18px;
                color: #fff;
                @media (max-width: 800px) {
                  font-size: 14px;
                }
            }
            p{
                font-size: 12px;
                color: #fff;
                font-weight: $regular;
            }
        }
        &:nth-child(2) {
            margin-top: 90px;
            @media (max-width: 800px) {
              margin-top: 0;
            }
            .textwrap{
                background-color: $green ;
            }
        }
        &:nth-child(3) .textwrap{
          background-color: $blue;
        }
        &:nth-child(4) .textwrap{
          background-color: $orange;
        }
        &:nth-child(5) .textwrap{
          background-color: $pink;
        }
        &:nth-child(6) .textwrap{
          background-color:$purple;
        }
        &.servicestitle{
            flex-direction: column;
            max-height: 320px;
            @media (max-width: 800px) {
              max-height: 490px;
              margin-bottom: 60px;
            }
            .button{
                margin-top: 30px;
            }
        }
      }
    }
  }

  .latest-news{
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width: 1200px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      @media (max-width: 640px) {
        margin-left: 0;
        margin-right: 0;
      }
      .col {
        width: calc(33.333% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        background-color:#fff;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
        border-radius: 10px;
        padding: 30px;
        text-align: left;
        @media (max-width: 1200px) {
          width: calc(33.333% - 30px);
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 30px;
        }
        @media (max-width: 1000px) {
          width: calc(50% - 30px);
        }
        @media (max-width: 640px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
        p {
          font-size: 12px;
          color: #A1A1A3;
          font-weight: $regular;
            &.bold {
              font-weight: $bold;
              color: #909090;
            }
        }
        .stars{
          padding-bottom: 20px;
          width: max-content;
        }
      }
    }
  }

  .news-items{
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width: 1200px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      @media (max-width: 640px) {
        margin-left: 0;
        margin-right: 0;
      }
      .col {
        width: calc(33.333% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.35);
        border-radius: 10px;
        position: relative;
        @media (max-width: 1200px) {
          width: calc(33.333% - 30px);
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 80px;
        }
        @media (max-width: 1000px) {
          width: calc(50% - 30px);
          margin-bottom: 80px;
        }
        @media (max-width: 640px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 80px;
        }
        .imgwrap{
            height: 0;
            padding-top: 90%;
            background: center top;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px 10px 0px 0px;
          img{
            opacity: 0;
          }
        }
        .textwrap{
          padding: 30px 30px 50px 30px;
          h2{
            font-size: 24px;
            color: #606060;
            margin-bottom: 11px;
          }
          p{
            font-size: 13px;
            color: #A8A8A8;
            font-weight: $bold;
          }
        }
        .button {
            position: absolute;
            bottom: -25px;
            right: 30px;
        }
      }
    }
  }
  