.newspostpage{
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 40px;
        @media all and (max-width:1000px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        }
        .col {
            width: calc(50% - 40px);
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 120px;
            display: flex;
            flex-direction: column;
            background-color: white;
            @media all and (max-width:1000px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 40px;
            }
            @media all and (max-width:600px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .imgwrap{
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                overflow: hidden;
              img{
                width: 100%;
              }
            }
            h1{
                color: $teal;
                font-size: 40px;
            }
            .date {
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: $bold;
                font-size: 13px;
                .fa-calendar-alt{
                    margin-right: 10px;
                }
            }
            .textwrap{
                padding: 30px 30px 30px 30px;
                h2{
                    font-size: 24px;
                    color: #606060;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.pagination {
    position: relative;
    z-index: 9999;
}

.gallery {
    img{
        margin: 5px;
        @media all and (max-width:1334px) {
            width: calc(50% - 30px);
            margin: 15px;
        }
        @media all and (max-width:600px) {
            width: calc(100% - 30px);
            margin: 15px;
        }
    }
}

.pagination {
    text-align: center;
    border-top: 1px solid #F1F1F1;
    padding-top: 50px;
    a {
        font-family: $title-font-family;
        color: $blue;
    }
}

  

  
  