
.serviceslist{
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-right: -20px;
      @media (max-width: 1200px) {
        margin-left: -15px;
        margin-right: -15px;
      }
      @media (max-width: 640px) {
        margin-left: 0;
        margin-right: 0;
      }
      .col {
        width: calc(33.333% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1200px) {
          width: calc(33.333% - 30px);
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 30px;
        }
        @media (max-width: 1000px) {
          width: calc(50% - 30px);
        }
        @media (max-width: 640px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
  
        .imgwrap{
          img{
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
          }
        }
        .textwrap{
          padding: 30px;
          h2{
            font-size: 18px;
            color: #fff;
            margin-bottom: 11px;
          }
          p{
            font-size: 12px;
            color: #fff;
            font-weight: $regular;
          }
        }
        &:nth-child(1){
          background-color: $pink ;
        }
        &:nth-child(2){
          background-color: $green;
        }
        &:nth-child(3){
          background-color: $orange;
        }
        &:nth-child(4){
          background-color: $purple;
        }
        &:nth-child(5){
          background-color:$teal;
        }
        &:nth-child(6){
          background-color: $blue;
        }
        &.cta{
          background-color: $blue;
          color: white;
          padding: 60px 30px;
          .button{
            margin-bottom: 30px;
          }
          h3{
            font-size: 52px; 
            line-height: 58px;
            color:#fff;
            padding-right: 30%;
          }
          a{
            color: #fff;
          }
        }
      }
    }
  }
  