<div class="page-mid"><div class="inner-wrap"><div class="titlearea"><div class="row"><div class="col"><div><h2 class="pink titlefont">{{ title }}</h2></div></div></div></div>{{ collection:news limit="6" paginate="true" as="posts" }} <div class="news-items"><div class="row">{{ posts }}<div class="col">{{ if news_image}}<div class="imgwrap" style="background-image:url({{ news_image }})"><img src="{{ news_image width=&quot;290&quot; height=&quot;400&quot; fit=&quot;crop_focal&quot;}}"/></div>{{ else }}<div class="imgwrap" style="background-image: url(/assets/img/placeholder.png);"><img src="/assets/img/placeholder.png" alt="{{ title }}"/></div>{{ /if}}<div class="textwrap"><h2>{{ title }}</h2><i class="far fa-calendar-alt"></i> {{ date }}</div><a class="button" href="{{ url }}">Read More</a></div>{{ /posts }}</div></div><div class="pagination">{{ paginate }}
{{ if prev_page }}<a href="{{ prev_page }}">← Previous page </a>{{ /if }}
{{ current_page }} of {{ total_pages }} pages
{{ if next_page }}<a href="{{ next_page }}">Next page →</a>{{ /if }}
{{ /paginate }}</div>{{ /collection:news }}  </div></div>