.page-mid
  .inner-wrap
    .titlearea
      .row
        .col
          div
            h2.pink.titlefont {{ title }}


    | {{ collection:news limit="6" paginate="true" as="posts" }} 
    .news-items
        .row
            | {{ posts }}
            .col
                | {{ if news_image}}
                .imgwrap(style='background-image:url({{ news_image }})')
                    img(src='{{ news_image width="290" height="400" fit="crop_focal"}}')
                | {{ else }}
                .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
                    img(src="/assets/img/placeholder.png", alt="{{ title }}")
                | {{ /if}}
                .textwrap
                    h2 {{ title }}
                    <i class="far fa-calendar-alt"></i> {{ date }}
                a.button(href='{{ url }}') Read More
            | {{ /posts }}

    .pagination
        | {{ paginate }}
        | {{ if prev_page }}
        a(href='{{ prev_page }}') ← Previous page 
        | {{ /if }}
        | {{ current_page }} of {{ total_pages }} pages
        | {{ if next_page }}
        a(href='{{ next_page }}') Next page →
        | {{ /if }}

        | {{ /paginate }}
    | {{ /collection:news }}  