.page-mid
    .newspostpage
        .inner-wrap
            .row
                .col
                    h1 {{ title }} 
                    .date
                        i.far.fa-calendar-alt  
                        | {{ date }}

                    | {{ news_article }}
                .col
                    | {{ if news_image}}
                    .imgwrap(style='background-image:url({{ news_image }})')
                        img(src='{{ news_image width="290" height="200" fit="crop_focal"}}', alt="{{ title }}")
                    | {{ else }}
                    .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
                        img(src="/assets/img/placeholder.png", alt="{{ title }}")
                    | {{ /if}}

     
        .inner-wrap           
            | {{ if image_gallery}}
            .gallery
                h2.titlefont.pink Gallery
                | {{ image_gallery }}
                img(src='{{ glide:value width="290" height="200" fit="crop_focal" }}' alt="")
                | {{ /image_gallery }}
            | {{ /if}}