#enquire-frm
  | {{ form:create in="enquiry" }}    
  | {{ if errors }}
  .validation-msg.error
    | {{ errors }}
    | {{ value }}
    br
    | {{ /errors }}
  | {{ /if }}
  | {{ if success }}
  .validation-msg
    | Form was submitted successfully.
  | {{ else }}
  input(type='hidden', name='url', value='{{ current_url }}')
  input#referer(type='hidden', name='referer', value='')
  input#subject(type='hidden', name='subject', value='')
  .form-item
    label Name
    input(type='text', name='name', placeholder="Name", required="required" value='{{ old:name }}')
    input(type='text', name='honeypot', placeholder="Surname", value='{{ old:honeypot }}').hide
  .form-item
    label Email
    input(type='email', name='email', placeholder="Email Address", required="required" value='{{ old:email }}')
  .form-item
    label Phone
    input(type='text', name='phone', placeholder="Phone Number", value='{{ old:phone_number }}')

  .form-item
    label Message
    textarea(name='message', placeholder="Message", required="required") {{ old:message }}

  button.button#submit_enquiry_btn Submit Enquiry

  | {{ /if }}
  | {{ /form:create }}