footer     
    .btm
        .inner-wrap
            .col Copyright &copy; {{current_date format='Y'}} Gort Kids | #[a(href="/privacy-policy") Privacy Policy]
            .col Website by #[a(href="http://www.reflex-studios.com") Reflex Studios]