header
  .top
    .inner-wrap  
      .col
        a(href='/').logo
          img(src='/assets/img/logo.png', alt="{{ site_title }}")
      .col
       ul
          | {{ nav from="/" include_home="true" }}
          | {{ if hide_from_navigation == false }}
          li
            | {{ if is_current || is_parent }}
            a.active(href="{{ url }}") {{ title }}
            | {{ else }}
            a(href="{{ url }}") {{ title }}
            | {{ /if }}
          | {{ /if }}
          | {{ /nav }}
          a(href='#')
            <i class="fab fa-facebook fa-2x"></i>
