#mobile-nav-items
  #mobile-nav-inner-items
    .top
      a(href='/')
        img(src='/assets/img/logo.png', alt="{{ site_title }}")
    .mid
      ul
        | {{ nav from="/" include_home="true" max_depth="2" }}
        | {{ if hide_from_navigation == false }}
        li.parent
          | {{ if is_current || is_parent }}
          a.active(href="{{ url }}") {{ title }}
          | {{ else }}
          a(href="{{ url }}") {{ title }}
          | {{ /if }}
          | {{ if children }}
          ul.second {{ *recursive children* }}
          | {{ /if }}
        | {{ /if }}
        | {{ /nav }}
