.search-frm
    form(action="/search", method="GET")
        input(type='text', name='search', placeholder="Search Website", required="required" value='{{ old:search }}')
        button.btn#search_btn Search