| {{ slideshow }}
.slideshow
  .slide(style="background-image: url('{{ glide:image }}');")
    .txt-wrap
      div
        .inner-wrap
          h3 J&amp;K Coaches
          h2 {{ title }}
          p {{ caption }}
          | {{ if link != '' }}
          a.btn(href="#") View More
          | {{ endif }}

| {{ /slideshow }}
