#subscribe-frm
  #validation.validation-msg.hidden
  | {{ form:create in="subscription" attr="class:subscribe-frm" }}    
  .form-item.form-item-first
      label Email
      input(type='email', name='email', placeholder="Email Address", required="required" value='{{ old:email }}')
  .form-item
      label Name
      input(type='text', name='name', placeholder="Name", required="required" value='{{ old:name }}')
  button.btn#submit_enquiry_btn Sign Up
  | {{ /form:create }}
