button {
  border: 0;
}
.btn {
  position: relative;
  display: inline-block;
  background: red;
  line-height: 1;
  font-style: normal;
  text-transform: none;

  font-family: $title-font-family;
  font-weight: $bold;
  font-size: 13px;
  color: #2d77b9;
  text-transform: uppercase;
  padding: 15px;

  i {
    margin-left: 10px;
    display: inline-block;
  }
  &:active {
    top: 1px;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
  //&[href="#"],
  // &[href=""] {
  //   display: none;
  // }
}

.back-btn {
  display: inline-block;
}
.button{
  background:$pink;
  font-family: $title-font-family;
  color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 12px 0 12px 30px;
  width: fit-content;
  float: left;
  position: relative;
  min-width: 200px;
  z-index: 9999;

  &::after {
    background: $darkpink;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    content: url(/assets/img/ico_arrow.svg);
    padding: 14px;

  }
  &:hover{
    color:#fff;
    text-decoration: none;
  }
}

