h1,
h2,
h3,
h4 {
  font-family: $title-font-family;
  font-style: normal;
  font-weight: 800;
  color: #767676;
}

.titlefont{
  font-size: 40px;
  font-weight: $bold;
  margin-bottom: 30px;
}

p{
  font-size: 14px;
}