$title-font-family: urbane-rounded, sans-serif;
$standard-font-family: open-sans, sans-serif;


$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;

$container: 1200;
$container_small: 1200;

$green: #8AB75B;
$blue: #4AB2D0;
$orange: #E57552;
$pink: #DB6D9E;
$purple: #6F4793;
$teal: #3CCAB6;
$white: #ffffff;
$darkpink:#D33F81;
$greytext: #767676;

.green{ color: $green;}
.blue{ color: $blue;}
.orange{ color: $orange;}
.pink{ color: $pink;}
.purple{ color: $purple;}
.teal{ color: $teal;}
.white{ color: #ffffff;}
.greytext{ color: #767676;}

$break-small: 400px;
$break-large: 1130px;
$mobile-nav: 995px;
$max-width: 100%;

$imgpath: "../../../../assets/img/";
