section.regular {
  position: relative;
}

.inner-wrap {
  max-width: $container + px;
  width: 90%;
  margin: auto;
}

.page-mid {
  .inner-wrap {
    padding: 50px 0;
  }
}

.introarea{
  .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
  @media all and (max-width:820px) {
  display: flex;
  flex-direction: column;
  }
    .col {
    width: calc(50% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    .aboutimage {
      img {
        margin-bottom: -140px;
      }
    }
    @media all and (max-width:820px) {
    width: calc(100% - 60px);
    .aboutimage {
      img {
        margin-bottom: 0px;
      }
    }
    }
      img {
        width: 100%;
        @media all and (max-width:820px) {
        margin-top: 30px;
        }
      }
      &.centeritem{
      justify-content: center;
      align-items: center;
      display: flex;
      }
    }
  }
}

.titlearea{
  margin-bottom: 40px;
  margin-top: 40px;
  @media (max-width: 1000px) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  @media (max-width: 640px) {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    .col {
      width: 60%;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

.grey {
  background: #f8f8f8;
}
