footer {
  background-color: #f8f8f8;
  color: #707070;
  
  .btm {
    .inner-wrap {
      display: flex;
      padding: 20px 0;
      font-size: 13px;
      color: #A1A1A3;
      letter-spacing: 0;
      line-height: 1.35;
      @media (max-width: 465px) {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        padding: 12.5px 0;
      }
      .col {
        &:nth-child(1) {
          flex-grow: 1;
        }
        @media (max-width: 465px) {
          padding: 2.5px 0;
        }
      }
      a {
        color: #A1A1A3;
        text-decoration: underline;
        &:hover{
          color: #707070;
        }
      }
      
    }
  }
}
