header {
  background-color: white;
  font-family: $title-font-family;
  text-transform: uppercase;
  border-bottom: 1px solid #E8E8E8;
  .top {
    padding: 20px 0;
    .inner-wrap {
      display: flex;
      align-items: center;
      a.logo {
        img {
          max-height: 85px;
        }
      }
      .col:nth-child(1) {
        flex-grow: 100;
      }
      .col:nth-child(2) {
        flex-grow: 1;
        ul {
          display: flex;
          @media (max-width: 820px) {
            display: none;
          }
          li {
            a {
              font-size: 13px;
              color: $purple;
              letter-spacing: 1.08px;
              line-height: 1;
              padding: 18.5px 30px;
              display: block;
              &.active {
                color: $blue;
              }
              @media (max-width: 921px) {
                padding: 18.5px 20px;
              }
            }
          }
          .fa-facebook {
            margin-top: 8px;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

#mobile-burger-btn {
  cursor: pointer;
  display: none;
  height: 38px;
  margin: 0;
  text-align: center;
  transition: right 0.5s;
  width: 40px;
  z-index: 100;
  border-radius: 50px;
  background-color: $blue;
  color: white;
  @media (max-width: 820px) {
    display: inline-block;
    position: fixed;
    right: 5%;
    top: 40px;
    z-index: 9999;
  }
  i {
    font-size: 24px;
    position: relative;
    top: 7px;
    &:nth-child(2) {
      display: none;
    }
  }
  &.menu-open {
    i {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: inline-block;
      }
    }
  }
}
